@model Car

@* @{
	Car car = (Car)ViewBag.Car;
}

<form action="/Car/EditSave/@car.Num" method="post">

	<br />
	<label> Car Color       </label>
	<input type="text" name="Color" />

	<br />
	<label> Car Model       </label>
	<input type="text" name="Model" />

	<br />
	<label> Car Manfacture       </label>
	<input type="text" name="Manfacure" />


	<br />

	<input type="submit" value="Save" />
</form>

 *@

@using (Html.BeginForm("Edit", "Car", FormMethod.Post))
{
	@Html.LabelFor(m => m.Num)
	@Html.DisplayFor(m => m.Num)

	@Html.LabelFor(m => m.Color)
	@Html.EditorFor(m => m.Color)
	<br />

	@Html.LabelFor(m => m.Model)
	@Html.EditorFor(m => m.Model)
	<br />

	@Html.LabelFor(m => m.Manfacure)
	@Html.EditorFor(m => m.Manfacure)


	<input class="btn btn-dark" type="submit" value="save" />
	<br />
}



